<script type="text/x-template" id="template-1">
    <div class="preview-item template-1">
        <div class="row">
            <div class="col">
                <h2>[resume.name.data]</h2>
                <span class="sub-header">[resume.address.data]<span v-if="resume.address.data && resume.city.data">, </span>[resume.city.data] | [resume.email.data]<span v-if="resume.phone.data && resume.email.data"> | </span>[resume.phone.data]</span>
                <div class="objective" v-for="objective in resume.objective.data">[objective.data]</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>[resume.education.previewHeader]</h2>
                <div class="education-section" v-for="edSet in resume.education.data">
                    <div class="row">
                        <div class="col sub-header">
                            [edSet.fields.name.data]<span v-if="edSet.fields.dates.data"> | [edSet.fields.dates.data]</span>
                        </div>
                    </div>
                    <div class="row">
                        <ul v-if="edSet.fields.description.isList">
                            <li v-for="skill in edSet.fields.description.data">[skill]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>[resume.work.previewHeader]</h2>
                <div class="work-section" v-for="workSet in resume.work.data">
                    <div class="row">
                        <div class="col sub-header">
                            [workSet.fields.name.data]<span v-if="workSet.fields.title.data"> | [workSet.fields.title.data]</span><span v-if="workSet.fields.dates.data"> | [workSet.fields.dates.data]</span>
                        </div>
                    </div>
                    <div class="row">
                        <ul v-if="workSet.fields.description.isList">
                            <li v-for="skill in workSet.fields.description.data">[skill]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>[resume.skills.previewHeader]</h2>
                <div class="list">
                    <ul v-for="skillSet in resume.skills.data">
                        <li v-for="skill in skillSet.data">[skill]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
