{% extends "./base.html" %}
{% load static %}

{% block content %}
    <div class="row" id="resume-preview">
        <div class="col">
            <div class="row" v-for="item in resume">
                <div class="section" v-if="item.isActive">
                    <h2 class="h2-heading"><strong>[item.header]</strong></h2>
                    <div v-if="item.isSimpleList">
                        {% include 'resume/includes/simple_list.html' %}
                    </div>
                    <div v-if="item.isRichList">
                        {% include 'resume/includes/rich_list.html' %}
                    </div>
                    <div v-if="item.isField">
                        <textarea v-if="item.isTextArea" v-model="item.data"></textarea>
                        <input v-else v-model="item.data"/>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="btn-section">
                <button class="btn btn-base btn-base-lg mr-2" v-on:click="backButtonClicked" v-if="activeIndex != 0"><i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Back</button>
                <button class="btn btn-base btn-base-lg float-right" v-on:click="nextButtonClicked">Next <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="col preview">
            <div class="print-btn">
                <button class="btn btn-base float-right" v-on:click="printResume"><i class="fa fa-print" aria-hidden="true"></i> Print your resume </button>
            </div>
            <div class="preview-page">
                <preview-field v-for="item in resume" :item="item" :list="item.list" :data="item.data" :key="item.id" :header="item.previewHeader" v-bind:class="[item.id, {hasHeader: item.previewHeader}, {hasList: item.list}]" class="resume-field"></preview-field>
            </div>
        </div>
    </div>
    {% include 'resume/includes/rich_list_item.html' %}
    {% include 'resume/includes/preview.html' %}
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/vues.js' %}"></script>
{% endblock %}