<script type="text/x-template" id="double-col">
    <div class="double-col">
        <h2 class="h2-heading"><strong>[header]</strong></h2>
        <div v-for="item in field">
            <field-set v-if="item.isFieldSet" :item="item" :enable-editing.sync="item.isEditing" v-on:update="update"></field-set>

            <div v-else>
                <input v-if="item.isField" v-model="item.data"/>
                <textarea v-if="item.isTextArea" v-model="item.data"></textarea>
                <list v-if="item.isList" :values.sync="item.data" :enableEdit="false"></list>
            </div>
        </div>
    </div>
</script>
