<script type="text/x-template" id="double-col">
    <div class="double-col">
        <h2 class="h2-heading"><strong>[header]</strong></h2>
        <div v-for="item in field">
            <field-set v-if="item.isFieldSet" :item="item" :enable-editing.sync="item.isEditing"></field-set>
            <div v-if="fieldTypes" class="newItem">
                <div v-for="fieldType in fieldTypes" v-if="showFieldTypes">
                    <label v-if="fieldType.type === 'field'">
                        [fieldType.label]
                        <input v-model="newItem[fieldType.key].data"/>
                    </label>
                    <label v-if="fieldType.type === 'list'">
                        [fieldType.label]
                        <list :values.sync="newItem[fieldType.key].data"></list>
                    </label>
                </div>
            </div>
            <div v-else>
                <input v-if="item.isField" v-model="item.data"/>
                <textarea v-if="item.isTextArea" v-model="item.data"></textarea>
                <list v-if="item.isList" :values.sync="item.data" :enableEdit="false"></list>
            </div>
        </div>
        <div v-if="showFieldTypes">
            <button class="btn-base btn-base-alt" v-on:click="addNewItem">Add new</button>
        </div>
        <div v-if="fieldTypes && !showFieldTypes">
            <button class="btn-base btn-base-alt" v-on:click="createNewItem">Create</button>
        </div>
    </div>
</script>
