<script type="text/x-template" id="field-set">
    <div class="field-set">
        <i v-if="!item.isEditing" class="fa fa-pencil-square-o float-right" aria-hidden="true" v-on:click="toggleEdit" tabindex="0" @keyup.enter="toggleEdit"></i>
        <div v-for="subItem in item.fields">
            <div v-if="item.isEditing">
                <input v-if="subItem.isField" v-model="subItem.data"/>
                <textarea v-if="subItem.isTextArea" v-model="subItem.data"></textarea>
                <list v-if="subItem.isList" :values.sync="subItem.data" :enableEdit="false" :hide-add="false"></list>
            </div>
            <div v-else>
                <list v-if="subItem.isList" :values.sync="subItem.data" :enableEdit="false" :hide-add="true"></list>
                <div v-else>[subItem.data]</div>
            </div>
        </div>
        <button class="btn btn-base-alt btn-base" v-if="item.isEditing" v-on:click="update">Save</button>
    </div>
</script>
