<script type="text/x-template" id="field">
    <div class="field">
        <p v-if="item.label">[item.label]</p>

        <div v-if="!isEditing">
            <list v-if="item.isList" :values.sync="colData" v-on:update="update"></list>
            <span v-else>
                [colData]
                <i v-if="!isSubItem" class="fa fa-pencil-square-o" aria-hidden="true" v-on:click="toggleEdit" tabindex="0" @keyup.enter="toggleEdit"></i>
            </span>
        </div>
        <div v-if="isEditing">
            <input v-if="item.isField" v-model="colData"/>
            <textarea v-if="item.isTextArea" v-model="colData"></textarea>
            <list v-if="item.isList" :values.sync="colData" v-on:update="update"></list>
            <button class="btn btn-base-alt float-right" v-if="isEditing" v-on:click="editItem">Save</button>
        </div>
    </div>
</script>
