<script type="text/x-template" id="list-item">
    <li class="item" v-on:hover="onHover">
        <div class="list-item-text" v-if="!isEditing">[item]</div>
        <input v-model="item" v-if="isEditing">
        <button class="btn btn-base-alt float-right" v-if="isEditing" v-on:click="updateItem">Save</button>
        <span class="icons" v-if="!isEditing && !hideAdd">
            <i class="fa fa-pencil-square-o" aria-hidden="true" v-on:click="editItem" tabindex="0" @keyup.enter="editItem"></i>
            <i class="fa fa-times" aria-hidden="true" v-on:click="removeItem" tabindex="0" @keyup.enter="removeItem"></i>
        </span>
    </li>
</script>

