<script type="text/x-template" id="list">
    <div class="list notranslate">
        <ul>
            <li class="item" v-for="(item, i) in items">
                <div class="view">
                    <span class="list-item-text" v-if="!(i === editedItem)">[item.data]</span>
                    <input v-model="item.data" v-if="i === editedItem">
                    <button class="btn btn-base-alt float-right" v-if="i === editedItem" @keyup.enter="save(i)" @click="save(i)">Save</button>
                    <span class="icons" v-if="!(i === editedItem)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" tabindex="0" @click="edit(i)" @keyup.enter="edit(i)"></i>
                        <i class="fa fa-times" aria-hidden="true" tabindex="0" @keyup.enter="remove(i)" @click="remove(i)"></i>
                    </span>
                </div>
            </li>

            <li class="item" v-if="!hideAdd">
                <input v-model="newItem" @keyup.enter="add" class="newItemInput"/>
                <button class="btn btn-base-alt float-right" @click="add" @keyup.enter="add" v-if="!hideAdd">Add</button>
            </li>
        </ul>
    </div>
</script>
