<script type="text/x-template" id="preview-item">
    <div class="preview-item">
        <h3 class="preview-header" v-if="header">[header]</h3>
        <div v-if="item.isSingleCol" class="data">[item.data]</div>
        <div v-if="item.isDoubleCol" class="data">
            <span v-for="field in item.data">
                <ul class="preview-list" v-if="field.isList">
                    <li v-for="li in field.data">[li]</li>
                </ul>
                <span v-if="field.isTextArea || field.isField">[field.data]</span>
                <div v-if="field.isFieldSet">
                    <div class="field" v-for="f in field.fields">
                        <ul class="preview-list" v-if="f.isList">
                            <li v-for="li in f.data">[li]</li>
                        </ul>
                        <span v-if="f.isTextArea || f.isField">[f.data]</span>
                    </div>
                </div>
            </span>
        </div>
    </div>
</script>
