<script type="text/x-template" id="rich-list-item">
    <div class="rich-list-item">
        <div class="rich-list-item-edit"></div>
        <div class="icon-container"><i class="fa fa-pencil-square-o float-right" v-on:click="edit" aria-hidden="true"></i></div>
        <div v-if="value.header" class="rich-list-header">[value.header]</div>
        <div v-if="value.dates" class="rich-list-dates">[value.dates]</div>
        <ul v-if="value.values"><li v-for="item in value.values">[item]</li></ul>
        <button v-if="isEditing">Save</button>
    </div>
</script>
