$dark-blue: #071C49
$teal: #008B8B
$gray: #333333

.bold
    font-weight: bold


.template-1
    color: $gray
    h2
        color: $teal
        border-bottom: 2px solid $teal
    .objective
        margin: 10px 0
        text-align: center
        font-style: italic
    .sub-header
        font-weight: bold


.template-2
    .resume-header
        margin-bottom: 20px
    p
        margin-bottom: 0
    .name
        text-align: center
        font-size: 28px

    .email
        text-align: right
    h2
        text-transform: uppercase
        font-size: 22px
        border-bottom: 1px solid $dark-blue

.template-3
    p
        margin-bottom: 0
    .resume-header
        margin-bottom: 20px
    .name
        font-size: 22px
        font-weight: bold
        color: darkgoldenrod

    .resume-preview
        margin-bottom: 10px

    .resume-section-header
        color: darkgoldenrod
        font-weight: bold

    ul
        padding-left: 15px